export AWS_DEFAULT_REGION=ap-northeast-1 # 変更必要なし
export AWS_ACCESS_KEY_ID=AKIAJZCGSXXXXXXXXXX　# 開発者に発行された値を指定してください
export AWS_SECRET_ACCESS_KEY=iU6/q6ls5i5pDBPxxxxxxxxxxxxxxxxxxxx # 開発者に発行された値を指定してください
export INTEGRATION_TEST_STAGE=integration # インテグレーションテストが実施される環境です。他者と被らなさそうな値を指定してください
export PYTHONPATH=./ # 変更必要なし
export ALIS_APP_ID=xxxxxxxx # serverless-applicationで指定した値を指定してください。environmentsリポジトリのsecretパラメータを判定するのに必要です
export TEST_COGNITO_USER_ID=xxxxx # インテグレーションテストで使用されるCognitoのUserIDを指定してください。environmentリポジトリで指定しているUserpoolにそのユーザが存在している必要があります
export TEST_AUTHLETE_SERVER_APP_CLIENT_ID=xxxxx # インテグレーションテストで使用するサーバーサイドアプリケーションのAuthleteのclient_idを指定してください
export TEST_AUTHLETE_SERVER_APP_CLIENT_SECRET=xxxxx　# インテグレーションテストで使用するサーバーサイドアプリケーションのAuthleteのclient_secretを指定してください
export TEST_AUTHLETE_CLIENT_APP_CLIENT_ID=xxxxx # インテグレーションテストで使用するクライアントアプリケーションのAuthleteのclient_idを指定してください
export TEST_AUTHLETE_CLIENT_APP_CLIENT_SECRET=xxxxx　# インテグレーションテストで使用するクライアントサイドアプリケーションのAuthleteのclient_secretを指定してください
